{:profiles
 {:Default {:default true
           :sim 30
           :delay 0
           :alone 80; cancellation happens when you press the from key ... ms long, actually I dont understand why I shoud make it value less) 
           :held 50}}
 :simlayers {:s-mode {:key :s}}
 :main [{:des "skey"
         :rules [:s-mode
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##h :left_arrow]
                 [:##l :right_arrow]]}
        {:des "caps_lock to esc when pressed alone, to ctrl as modifier"
         :rules [[:##caps_lock [:left_control :left_option] nil {:alone :escape}]]}
        {:des "commad shift to toggle keyboard language"
         :rules [[:!Cleft_shift :!Cleft_shift nil {:alone :!Tspacebar}]]}]}
